{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link rel="stylesheet" href="{% static 'Admin/admin_css/admin_dashboard.css' %}">
    <script src="{% static 'Admin/admin_js/admin_dashboard.js' %}"></script>

    
</head>

<body>

<aside class="sidebar" id="sidebar">
    <button class="btn btn-light d-md-none mb-3" id="closeSidebar">
        <i class="fa fa-arrow-left"></i>
    </button>

    <h3 class="logo-text">Event</h3>

    <div class="sidebar-profile mt-3">
        <img src="{{ log.profile_pic }}">
        <h4 class="sidebar-name">{{log.name}}</h4>
        <p class="sidebar-role">{{log.designation_id}}</p>
    </div>

    <ul class="sidebar-menu">
        <li><a href="{% url 'admin_view_list' %}"><i class="fa-solid fa-chart-line"></i>Document</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#companyMenu">
                <i class="fa-solid fa-building"></i> Category
            </a>

            <ul id="companyMenu" class="collapse">
                <li><a href="{% url 'admin_add_category' %}">Add Category</a></li>
            </ul>
        </li> 
    </ul>
</aside>


<div class="content-area">

    <nav class="topnav">
        <button class="btn btn-light d-md-none" id="toggleBtn"><i class="fa fa-bars"></i></button>

        <div class="notif-container" style="position: relative;">
            <i class="fa fa-bell" id="notifIcon" style="cursor: pointer;"></i>

           <div id="notifCard" class="notif-card">
                {% if notifications %}
                    {% for notif in notifications %}
                    <div class="notif-item" data-notif-id="{{ notif.notific_id }}">
                        <span class="notif-close-btn" onclick="this.parentElement.style.display='none'">×</span>
                        <strong>{{ notif.notific_head }}</strong>
                        <p>{{ notif.notific_content }}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">No new notifications</p>
                {% endif %}
            </div>


        </div>

        <div class="dropdown">
            <button class="btn profile-btn dropdown-toggle" data-bs-toggle="dropdown">
                <img src="{{ log.profile_pic }}" class="nav-profile-img">
                <span>{{log.name}}</span>
            </button>

            <ul class="dropdown-menu dropdown-menu-end">
<li><a class="dropdown-item" href=""><i class="fa fa-key"></i> Reset Password</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'Admin_logout' %}"><i class="fa fa-right-from-bracket"></i> Log out</a></li>
            </ul>
        </div>
    </nav>

 <!-- Main Content -->
    <div class="main-content">
        {% block content %}


        {% endblock %}
    </div>



</div>



<div class="footer-area">
<footer>
    © 2025 Digitra | All Rights Reserved.
</footer>
</div>





</body>
</html>
