{% extends "admin/admin_index.html" %}
{% load static %}

{% block content %}

<center style="margin-top: 100px; font-weight: bolder ;font-family: 'Courier New', Courier, monospace;font-size: xx-large;">ADD GALLERY</center>
<br><br>
<center>
<form method="post" action=" " id="" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                <input type="hidden" id="cid" value="{{cust.id}}">

                <div class="row">
                    <div class="col-md-6">Image Name
                        <br>
                        <input type="text" id="img_name">
                    </div>
                    <div class="col-md-6">Gallery
                        <br>
                        <input type="file" id="img">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><button type="submit" id="admin_add_gallery_save">Submit</button></div>
                    <div class="col-md-4"></div>
                </div>
                <br>
            </div>

        </form>

</center>

<br><br>
<center style="margin-top: 50px; font-weight: bolder ;font-family: 'Courier New', Courier, monospace;font-size: xx-large;"> GALLERY LIST</center>
<br><br>
<table class="table   table-bordered">
        <tr>
            <th>Gallery Name</th>
            <th>Gallery Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for i in gal %}
        <tr>
            <td>{{i.img_name}}</td>
            <td>
                <img src="{{ i.gallery_img.url }}" width="50" height="50">
            </td>
            </td>
            <td>
            <a href="{% url 'admin_edit_gallery' i.id %}" type="button" class="btn btn-danger"><i class="mdi mdi-check"></i>&nbsp; Edit</a>
            </td>
            <td>
            <button type="button"
                class="btn btn-danger admin_delete_gallery"
                data-id="{{ i.id }}">
                <i class="mdi mdi-delete"></i>&nbsp; Remove
            </button>
            </td>
        </tr>
        {% endfor %}
    </table>


<script>
$(document).on("click", "#admin_add_gallery_save", function () {

    var formData = new FormData();

    formData.append("cid", $("#cid").val());
    formData.append("img_name", $("#img_name").val());

    var image = $("#img")[0].files[0];

    if (image) {
        formData.append("img", image);
    }

    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");

    $.ajax({
        type: "POST",
        url: "{% url 'admin_ajax_add_gallery_save' %}",
        data: formData,
        processData: false,
        contentType: false,

        success: function (response) {
            console.log(response);
            alert("Image saved successfully");
        },

        error: function (xhr) {
            console.log(xhr.responseText);
            alert("Error saving image");
        }
    });
});

</script>

<!--Delete Gallery using Ajax-->

<script>

$(document).on("click", ".admin_delete_gallery", function () {

    var gallery_id = $(this).data("id");
    var row = $(this).closest("tr");

    if (!confirm("Are you sure you want to delete this image?")) {
        return;
    }

    $.ajax({
        type: "POST",
        url: "{% url 'admin_ajax_delete_gallery' %}",
        data: {
            "id": gallery_id,
            "csrfmiddlewaretoken": "{{ csrf_token }}"
        },

        success: function (response) {
            if (response.status === "success") {
                row.remove();
                alert("Gallery image deleted successfully");
            } else {
                alert(response.message);
            }
        },

        error: function (xhr) {
            console.log(xhr.responseText);
            alert("Error deleting image");
        }
    });
});
</script>

{% endblock %}