{% extends "admin/admin_index.html" %}
{% load static %}

{% block content %}
<style>
    table {
        background-color: green;
        
    }
    .txt{
        color:green;
        font-size: larger;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
    }
    .txt1{
        color:black;
        font-style: italic;
    }
</style>

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModalAddCustomer"><i class="mdi mdi-check"></i>&nbsp; Add Customer</button>
<br>

    <table class="table   table-bordered">
        <tr>
            <th>Customer Name</th>
            <th>Customer Details</th>
            <th>Quotation</th>
            <th>Gallery</th>
            <th>Download</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for i in cust %}
        <tr>
            <td>{{i.customer_name}}</td>
            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModalviewCustomerdetails{{ i.id }}"><i class="mdi mdi-check"></i>&nbsp; Details</button></td>
            <td>
            <a href="{% url 'admin_document' i.id %}" type="button" class="btn btn-success"><i class="mdi mdi-check"></i>&nbsp; Add Quotation</a>
            </td>
            <td>
            <a href="{% url 'admin_add_gallery' i.id %}" type="button" class="btn btn-success"><i class="mdi mdi-check"></i>&nbsp; Add Gallery</a>
            </td>
            <td>
            <a href="{% url 'admin_view_pdf' i.id %}" type="button" class="btn btn-secondary"><i class="mdi mdi-check"></i>&nbsp; Download Quotation</a>
            </td>
            <td>
            <a href="{% url 'admin_edit_customer' i.id %}" type="button" class="btn btn-danger"><i class="mdi mdi-check"></i>&nbsp; Edit</a>
            </td>
            <td>
            <a href="{% url 'admin_delete_customer' i.id %}" type="button" class="btn btn-danger"><i class="mdi mdi-check"></i>&nbsp; Remove</a>
            </td>
        </tr>
        {% endfor %}
    </table>

<!-- Modal Customer -->


 <div class="modal fade" id="myModalAddCustomer">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">Add Customer</h5>
                    <button type="button" class="close text-light" data-bs-dismiss="modal" aria-label=""style="font-size: 20px;border:none;"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="table-responsive mt-3 mb-3 container">

                <form method="post" action="" id="" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                
                <div class="row">
                    <div class="col-md-6 txt">Customer Name
                        <br>
                        <input type="text" id="custname">
                    </div>
                    <div class="col-md-6 txt">Customer Address
                        <br>
                        <input type="text" id="custaddress">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 txt">Venue
                        <br>
                        <input type="text" id="custvenue">
                    </div>
                    <div class="col-md-6 txt">Date
                        <br>
                        <input type="date" id="custdate">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 txt">Theme
                        <br>
                        <input type="text" id="custtheme">
                    </div>
                    <div class="col-md-6 txt">Function
                        <br>
                        <input type="text" id="custfunction">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 txt">Contact
                        <br>
                        <input type="text" id="custcontact">
                    </div>
                    <div class="col-md-6 txt">Advance
                        <br>
                        <input type="text" id="custadvance">
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><button type="submit" id="admin_ajax_add_customer_save">Submit</button></div>
                    <div class="col-md-4"></div>
                </div>
                <br>
            </div>

        </form>
    </div>
</div>
</div>

</div>
<br>

<!-- Modal View Customer Details -->

{% for i in cust %}
 <div class="modal fade" id="myModalviewCustomerdetails{{ i.id }}">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info">CUSTOMER DETAILS</h5>
                    <button type="button" class="close text-light" data-bs-dismiss="modal" aria-label=""style="font-size: 20px;border:none;"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="table-responsive mt-3 mb-3 container">

                <form method="post" action="" id="" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}

                
                <div class="row">
                    <div class="col-md-6 txt">Customer Name
                        <br>
                        <span class="txt1">{{i.customer_name}}</span>
                    </div>
                    <div class="col-md-6 txt">Customer Address
                        <br>
                        <span class="txt1">{{i.customer_address}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 txt">Venue
                        <br>
                        <span class="txt1">{{i.customer_venue}}</span>
                    </div>
                    <div class="col-md-6 txt">Date
                        <br>
                        <span class="txt1">{{i.customer_date}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 txt">Theme
                        <br>
                        <span class="txt1">{{i.customer_theme}}</span>
                    </div>
                    <div class="col-md-6 txt">Function
                        <br>
                        <span class="txt1">{{i.customer_function_type}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 txt">Contact
                        <br>
                        <span class="txt1">{{i.customer_contact}}</span>
                    </div>
                    <div class="col-md-6 txt">Advance
                        <br>
                        <span class="txt1">{{i.customer_advance}}</span>
                    </div>
                </div>
    
                <br>
            </div>

        </form>
    </div>
</div>
</div>
</div>
{% endfor %}




<script>

$(document).on("click", "#admin_ajax_add_customer_save", function(){

$.ajax({

    type : 'POST',
    url:"{% url 'admin_ajax_add_customer' %}",
    data:{
        custname : $('#custname').val(),
        custaddress : $('#custaddress').val(),
        custvenue : $('#custvenue').val(),
        custdate : $('#custdate').val(),
        custtheme : $('#custtheme').val(),
        custfunction : $('#custfunction').val(),
        custcontact : $('#custcontact').val(),
        custadvance : $('#custadvance').val(),

        csrfmiddlewaretoken: '{{ csrf_token }}',
    },
   
    
});  
} 
);


</script>


{% endblock %}