{% extends "admin/admin_index.html" %}
{% load static %}

{% block content %}

<style>
    table {
        background-color: green;
        
    }
</style>


<br>

{% if cust %}

 
            <div class="table-responsive mt-3 mb-3 container">

                <form method="post" action="" id="" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                        <input type="hidden" id="cid" value="{{cust.id}}">
                        <input type="hidden" id="cadv" value="{{cust.customer_advance}}">
                        <br>
                        <center style="font-family: 'Courier New', Courier, monospace;font-size: xx-large;font-weight: bolder;">ADD ITEM</center>
                        <br>
                            <table class="table   table-bordered ">
                                <tr>
                                    <th width="">Category</th>
                                    <th width="">Item</th>
                                    <th width="">Qty</th>
                                    <th width="">Price</th>
                                    <th width="">Action</th>
                                </tr>
                                <tr>
                                    <td>
                                    <select class="" name="mcat" id="mcat" required>
                                        <option>--Select--</option>
                                        
                                        {%for j in cat%}
                                        <option value="{{j.id}}">{{j.category}}</option>
                                        {%endfor%}
                                    </select>
                                    </td>
                                    <td><input type="text" id="item"></td>
                                    <td><input type="text" id="qty"></td>
                                    <td><input type="text" id="price"></td>
                                    <td><button type="submit" id="admin_ajax_add_document_save">Add</button></td>
                                </tr>
                                </table>
                                
                                <br>
                        <center style="font-family: 'Courier New', Courier, monospace;font-size: xx-large;font-weight: bolder;">ADD SUB ITEM</center>
                        <br>

                                <table class="table   table-bordered ">
                                <tr>
                                    <th width="">Category</th>
                                    <th width="">Item</th>
                                    <th width="">Sub Item</th>
                                    <th width="">Sub Qty</th>
                                    <th width="">Sub Price</th>
                                    <th width="">Action</th>
                                </tr>
                                <tr>
                                    <td>
    <select name="mscat" id="mscat" required>
        <option value="">--Select Category--</option>

        {% for s in cat %}
            <option value="{{ s.id }}">{{ s.category }}</option>
        {% endfor %}
    </select>
</td>

<td>
    <select name="mitem" id="mitem" required>
        <option value="">--Select Category First--</option>
    </select>
</td>
                                    <td><input type="text" id="sitem"></td>
                                    <td><input type="text" id="sqty"></td>
                                    <td><input type="text" id="sprice"></td>
                                    <td><button type="submit" id="admin_ajax_add_subitem_save">Add</button></td>
                                </tr>
                                </table>

                                
                </form>

                </div>

                <div class="row">
                    <div class="col-md-6">

<br>
<center style="font-family: 'Courier New', Courier, monospace;font-size: xx-large;font-weight: bolder;">ITEM LIST</center>
<br>
                <table class="table   table-bordered ">
                    <thead >
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Item</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in item %}
                        <tr>
                            <td>{{i.item_category.category}}</td>
                            <td>{{i.item_name}}</td>
                            {% if i.item_qty_status == 'nill' %}
                            <td></td>
                            {% else %}
                            <td>{{i.item_qty}}</td>
                            {% endif %}
                            {% if i.item_price_status == 'nill' %}
                            <td></td>
                            {% else %}
                            <td>{{i.item_price}}</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'admin_edit_items' i.id %}" type="button" class="btn btn-warning"><i class="mdi mdi-check"></i>&nbsp; Edit</a>
                            </td>
                            <td>
                                <a href="{% url 'admin_delete_items' i.id %}" type="button" class="btn btn-danger"><i class="mdi mdi-check"></i>&nbsp; Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            </div>

            <div class="col-md-6">
                <br>
<center style="font-family: 'Courier New', Courier, monospace;font-size: xx-large;font-weight: bolder;">SUB ITEM LIST</center>
<br>
                <table class="table   table-bordered ">
                    <thead >
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Item</th>
                            <th scope="col">Sub Item</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j in sitem %}
                        <tr>
                            <td>{{j.item_category.category}}</td>
                            <td>{{j.item.item_name}}</td>
                            <td>{{j.subitem}}</td>
                            {% if j.sitem_qty_status == 'nill' %}
                            <td></td>
                            {% else %}
                            <td>{{j.sitem_qty}}</td>
                            {% endif %}

                            {% if j.sitem_price_status == 'nill' %}
                            <td></td>
                            {% else %}
                            <td>{{j.sitem_price}}</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'admin_edit_subitems' j.id %}" type="button" class="btn btn-warning"><i class="mdi mdi-check"></i>&nbsp; Edit</a>
                            </td>
                            <td>
                                <a href="{% url 'admin_delete_subitems' j.id %}" type="button" class="btn btn-danger"><i class="mdi mdi-check"></i>&nbsp; Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            </div>
  

{% endif %}





<script>

$(document).on("click", "#admin_ajax_add_document_save", function(){

$.ajax({

    type : 'POST',
    url:"{% url 'admin_ajax_add_quotation' %}",
    data:{
        mcat : $('#mcat').val(),
        item : $('#item').val(),
        qty : $('#qty').val(),
        price : $('#price').val(),
        cid : $('#cid').val(),
        cadv : $('#cadv').val(),

        csrfmiddlewaretoken: '{{ csrf_token }}',
    },
   
    
});  
} 
);


$(document).on("click", "#admin_ajax_add_subitem_save", function(){

$.ajax({

    type : 'POST',
    url:"{% url 'admin_ajax_add_subitem' %}",
    data:{
        mscat : $('#mscat').val(),
        mitem : $('#mitem').val(),
        sitem : $('#sitem').val(),
        sqty : $('#sqty').val(),
        sprice : $('#sprice').val(),
        cid : $('#cid').val(),
        cadv : $('#cadv').val(),

        csrfmiddlewaretoken: '{{ csrf_token }}',
    },
   
    
});  
} 
);

<!--Select item depend oon category-->
$(document).ready(function () {

    $('#mscat').change(function () {

        var category_id = $(this).val();

        $('#mitem').html('<option value="">Loading...</option>');

        if (category_id) {

            $.ajax({
                url: "{% url 'get_items_by_category' %}",
                type: "GET",
                data: {
                    category_id: category_id
                },

                success: function (response) {

                    $('#mitem').empty();
                    $('#mitem').append(
                        '<option value="">--Select Item--</option>'
                    );

                    $.each(response.items, function (index, item) {

                        $('#mitem').append(
                            '<option value="' + item.id + '">' +
                            item.item_name +
                            '</option>'
                        );

                    });
                },

                error: function () {
                    $('#mitem').html(
                        '<option value="">Error loading items</option>'
                    );
                }
            });

        } else {

            $('#mitem').html(
                '<option value="">--Select Category First--</option>'
            );

        }

    });

});
</script>


{% endblock %}